body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.fg-dark {
  color: #1f2937;
}

.fg-white {
  color: #f9fafb;
}

.fg-grey {
  color: #e5e7eb;
}

.fg-blue {
  color: #3882f6;
}

.bg-dark {
  background-color: #1f2937;
}

.bg-white {
  background-color: #f9fafb;
}

.bg-grey {
  background-color: #e5e7eb;
}

.bg-blue {
  background-color: #3882f6;
}

.font-extra-bold {
  font-weight: 800;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-36 {
  font-size: 36px;
}

.font-size-48 {
  font-size: 48px;
}

.header,
.hero,
.info,
.quote,
.action,
.footer {
  display: flex;
  padding-right: 208px;
  padding-left: 208px;
}

.header,
.hero {
  background-color: #1f2937;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.logo {
  font-size: 24px;
  color: #f9fafb;
  font-weight: 800;
}

.header-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 135px;
}

.hero-main {
  font-size: 48px;
  color: #f9fafb;
  font-weight: 800;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  padding-bottom: 12px;
}

.hero-button {
  font-size: 17px;
  color: #f9fafb;
  font-weight: 600;
  background-color: #3882f6;
  padding: 8px 34px;
  border-radius: 8px;
  border-style: none;
}