body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.fg-dark {
  color: #1f2937;
}

.fg-white {
  color: #f9fafb;
}

.fg-grey {
  color: #e5e7eb;
}

.fg-dark-grey {
  color: #5b5c5e;
}

.fg-blue {
  color: #3882f6;
}

.bg-dark {
  background-color: #1f2937;
}

.bg-white {
  background-color: #f9fafb;
}

.bg-grey {
  background-color: #e5e7eb;
}

.bg-blue {
  background-color: #3882f6;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 600;
}

.font-extra-bold {
  font-weight: 800;
}

.font-italic {
  font-style: italic;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-36 {
  font-size: 36px;
}

.font-size-48 {
  font-size: 48px;
}

.header,
.hero,
.info,
.quote,
.action,
.footer {
  padding-right: 208px;
  padding-left: 208px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

.header-links a {
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 135px;
}

.hero-secondary {
  padding-bottom: 12px;
}

.hero-button {
  padding: 8px 34px;
  border-radius: 8px;
  border-style: none;
}

.info {
  padding-bottom: 120px;
}

.info-heading {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

.info-media {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 48px;
}

.info-media-item {
  max-width: 170px;
}

.info-media-item-image {
  display: flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  width: 170px;
  height: 170px;
  border: 4px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 6px;
}

.info-media-item-image img {
  width: 100%;
  height: 100%;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 130px;
}

.quote-speech {
  padding-left: 40px;
  max-width: 800px;
}

.quote-speaker {
  padding-right: 40px;
  width: 800px;
  text-align: right;
  max-height: 0px;
}